{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div>
    {% block content %}
    {% endblock %}
  </div>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
